.background-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    background-size: cover;
    height: 100vh;
}

.code-card {
    background-color: #00000080;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-color: #48ee59;
    border-width: 6px;
    margin: 20px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-top: 30px;
}

.paragraph {
    font-size: 30px;
    color: white;
    font-family: Bree Serif;
}